/* = CONTAINER
================================================ */
.mod-button-to-cv{{{cns}}} {
    background-image: url(/resources/button-to-cv-background-TMP.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 227px 316px;
    height: 316px;
    position: absolute;
    width: 227px;
}

/* PORTS
================================================ */

.mod-button-to-cv{{{cns}}} .mod-pedal-input,
.mod-button-to-cv{{{cns}}} .mod-pedal-output {
    top: 70px;
}

.mod-button-to-cv{{{cns}}} .mod-pedal-output .mod-cv-output {
    margin-bottom: 0;
}

/* = LIGHT ON/OFF
================================================ */
.mod-button-to-cv{{{cns}}} .led-sp {
    position: absolute;
    background-image: url(/resources/mod_button-to-cv_sprite_sheets/lights.png{{{ns}}});
    background-position: right center;
    background-size: auto 25px;
    height: 25px;
    width: 25px;
    top: 85px;
    right: 5px;
}

.mod-button-to-cv{{{cns}}} .led-sp.on {
    background-position: left center;
}

.mod-button-to-cv{{{cns}}} .led-lp {
    position: absolute;
    background-image: url(/resources/mod_button-to-cv_sprite_sheets/lights.png{{{ns}}});
    background-position: right center;
    background-size: auto 25px;
    height: 25px;
    width: 25px;
    top: 140px;
    right: 5px;
}

.mod-button-to-cv{{{cns}}} .led-lp.on {
    background-position: left center;
}

.mod-button-to-cv{{{cns}}} .led-dp {
    position: absolute;
    background-image: url(/resources/mod_button-to-cv_sprite_sheets/lights.png{{{ns}}});
    background-position: right center;
    background-size: auto 25px;
    height: 25px;
    width: 25px;
    top: 195px;
    right: 5px;
}

.mod-button-to-cv{{{cns}}} .led-dp.on {
    background-position: left center;
}

/* = main button
================================================ */
.mod-button-to-cv{{{cns}}} .mod-control-group {
    margin: 130px 100px 20px 10px;
    position: relative;
    z-index: 50;
}

.mod-button-to-cv{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image: url(/resources/mod_button-to-cv_sprite_sheets/footswitch.png{{{ns}}});
    background-position: bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 49px;
    width: 49px;
    margin: auto;
}

.mod-button-to-cv{{{cns}}} .mod-control-group .mod-knob {
    background-image: url(/resources/mod_button-to-cv_sprite_sheets/footswitch.png{{{ns}}});
    background-position: bottom;
    background-repeat: no-repeat;
}