/* = CONTAINER
================================================ */
.mod-cv-slew{{{cns}}} {
    background-image: url(/resources/mod_cv_slew_bg.png{{{ns}}});
    height: 378px;
    position: absolute;
    width: 227px;
}

/* PORTS
================================================ */

.mod-cv-slew{{{cns}}} .mod-pedal-input,
.mod-cv-slew{{{cns}}} .mod-pedal-output {
    top: 161px;
}

/* = LIGHT ON/OFF
================================================ */
.mod-cv-slew{{{cns}}} .mod-light {
    position: absolute;
    background-image: url(/resources/mod_cv_slew_sprite_sheets/lights.png{{{ns}}});
    background-size: auto 25px;
    background-position: left center;
    height: 25px;
    width: 25px;
    top: 11px;
    right: 30px;
}

.mod-cv-slew{{{cns}}} .mod-light.on {
    background-position: left center;
}

.mod-cv-slew{{{cns}}} .mod-light.off {
    background-position: right center;
}

/* = SWITCH
================================================ */
.mod-cv-slew{{{cns}}} .mod-switch {
    background-image: url(/resources/mod_cv_slew_sprite_sheets/switch_key.png{{{ns}}});
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 28px 77px;
    top: 30px;
    right: 28px;
    cursor: pointer;
    height: 38.5px;
    width: 28px;
    position: absolute;
    z-index: 30;
}

.mod-cv-slew{{{cns}}} .mod-switch.on {
    background-position: center top;
    top: 40px;
}

.mod-cv-slew{{{cns}}} .mod-switch.off {
    background-position: center bottom;
}

/* = KNOBS
================================================ */
.mod-cv-slew{{{cns}}} .mod-control-group {
    margin: 50px 50px 20px;
    position: relative;
    text-align: center;
    z-index: 30;
}

.mod-cv-slew{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image: url(/resources/mod_cv_slew_sprite_sheets/Big_knob_3_70frames.png{{{ns}}});
    height: 83px;
    width: 83px;
    margin: 0 auto;
}

.mod-cv-slew{{{cns}}} .mod-control-group .mod-knob {
    padding-top: 42px;
    padding-bottom: 27px;
}
